**/.DS_Store
**/.history/
**/.ipynb_checkpoints/
**/.parquet
**/.csv
**/.csv.gz


.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
**/ny_taxi_postgres_data/*
serving_dir
!week_6_stream_processing/avro_example/data/rides.csv
**/5_batch_processing/data/*
**/5_batch_processing/fhvhv/*
