#MacOS 系统自动生成的隐藏文件
**/.DS_Store

**/.history/
**/.ipynb_checkpoints/
**/*.parquet
**/*.csv.gz

#IntelliJ IDEA IDE 自动生成的项目配置文件目录
**/.idea

#Terraform 的状态文件，可能包含敏感信息
**/*.tfstate

#Terraform 的备份和临时状态文件
**/*.tfstate.*

#Terraform 的工作目录
**/.terraform
**/.terraform.lock.*


**/logs/
**/.env

#Python 的缓存目录
**__pycache__/
**/ny_taxi_postgres_data/**
**/serving_dir

**/5_batch_processing/data/**
**/5_batch_processing/fhvhv/**
**/5_batch_processing/zones/**
**/5_batch_processing/tmp/**
**/5_batch_processing/*.csv
**/5_batch_processing/homework/*.csv

**/*.crc


